/* MainImageContainer.jsx css */
.mainImageContainder {
  position: relative;
  width: 100%; /* 뷰포트 너비 */
  height: 100vh; /* 뷰포트 높이 */
  overflow: hidden;
}

.main_image_container img {
  width: 100vw;
  min-width: 1165px;
  height: auto;
  object-fit: cover;
}

.reservationInputContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*ReservaionInputContainer css*/
.reservationCalendar {
  display: none;
}

.reservationCalendarIsVisible {
  display: flex;
  background-color: white;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

.rightSide {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(175, 211, 226, 0.8);
  margin-bottom: 20px;
}

.inputContainer div {
  margin: 0px 24px;
}

.smallFont,
.largeFont {
  margin: 0;
}

.smallFont {
  font-size: 12px;
  margin: 20px 0px 0px 0px;
}

.largeFont {
  font-size: 20px;
  margin: 0px 0px 20px 0px;
  font-weight: bold;
}

/* */
.main_image_container {
  position: relative;
  width: 100%;
  height: 300px;
  /* 원하는 높이 설정 */
  overflow: hidden;
}

.background_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 이미지가 컨테이너에 맞도록 */
  transition: opacity 0.3s ease;
  /* 배경 이미지 변경 시 부드럽게 전환 */
}

.overlay_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4개의 구역 생성 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  /* 이미지 위에 텍스트를 표시 */
}

.grid_section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  /* 반투명 배경으로 구역 구분 */
  color: white;
  font-size: 24px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.grid_section a {
  color: white;
  text-decoration: none;
}

.grid_section:hover {
  background-color: rgba(0, 0, 0, 0.5);
  /* hover 시 배경색 진하게 */
}

@media (max-width: 800px) {
  .reservationCalendarIsVisible {
    flex-direction: column;
    align-items: center;
    max-width: 90%;
  }

  .rdrCalendarWrapper {
    width: 80%;
  }

  .calendaRightSection {
    width: 100%;
  }
}