.calendarContainer {
    display: flex;
    max-width: 1000px;
    margin: 20px auto;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    background-color: white;
}

/* 캘린더 오버라이딩 */
.rdrCalendarWrapper {
    margin: 10px;
}

.rdrStartEdge,
.rdrEndEdge,
.rdrInRange {
    background-color: #19a7ce;
}

.calendaRightSection {
    margin: auto;
}

@media (max-width: 800px) {
    .calendarContainer {
        flex-direction: column;
        align-items: center;
    }

    .rdrCalendarWrapper {
        width: 100%;
    }

    .calendaRightSection {
        width: 100%;
    }
}