#root {
  /* max-width: 1280px; */
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*footer 하단에 고정하기 위한 wrapper flex 설정*/
.contentWrapper {
  flex: 1;
}

a {
  text-decoration: none; 
  color: #000;
}

a:visited {
  text-decoration: none;  
}

a:hover {
  color: #000; 
  text-decoration: none; 
}