.navbar {
  width: 100%;
  padding: 15px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
}

.navbarMenu {
  margin: 10px 20px;
}

.navbarFirstLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarFirstLine img {
  margin: 0px 8px;
}

.navbarSecondLine {
  display: flex;
  justify-content: space-around;
}

.reservationMenu {
  position: relative;
  display: flex;  
  justify-content: center;
}

.dropdown {
  position: absolute;
  top: 100%;
  display: flex;
  white-space: nowrap;  
 }

.dropdown a {
  padding: 0px 10px;
}